APPLICATION_NAME=PULSECHECKAPI

SPRING_APPLICATION_NAME=PULSECHECKAPI

# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/pulse-check-api-db?stringtype=unspecified
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=pulse-check-api-db-password


# Database Configuration for Docker Compose
POSTGRES_DB=pulse-check-api-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pulse-check-api-db-password

# Server Configuration
SERVER_PORT=8080
SERVER_CONTEXT_PATH=/


# Development Configuration
SPRING_PROFILES_ACTIVE=dev
